<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Loda To-do</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!--css-->
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
  <link th:href="@{/css/main.css}" rel="stylesheet" />

  <!--js-->
  <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<h1>Danh sách việc cần làm:</h1>


<ul>
  <li th:each="todo : ${todoList}">
    <span th:text="*{todo.getId()}"></span> :
    <span th:text="*{todo.getTitle()}"></span> :
    <span th:text="*{todo.getDetail()}"></span> :
    <!--<button th:onclick="*{'myFunction(' + todo.getId() + ');'}">Xóa</button>-->
    <button th:onclick="|sendData('*{todo.getId()}')|">Xóa</button>
  </li>
</ul>

<a th:href="@{/addTodo}" class="btn btn-success"> + Thêm công việc</a>
</body>
<script ></script>


<script>
  function sendData(id){
    alert("hello");
  }

</script>

</html>